# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
anxu/
env/
venv/
ENV/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
*.pot
*.pyc

# Media & Static
media/
static/

# Environment
.env
.env.local

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Python
*.so
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/
